body {
  background-color: #5a6196;
}

.words {
  color: white;
  font-family: "Open Sans Condensed";
}

caption{
  text-align: left;
  padding-left: 3%;
  font-size: 190%;
}

.header {
  width: 200%;
  font-size: 450%;
  font-family: "Dancing Script";
  padding-left: 20px;
  padding-top: 35px;
}

.topic{
  clear: both;

}

.text{
  font-size: 160%;
}

.sub-text {
  text-align: left;
  font-size: 130%;
}

.honor {
  width: 100%;
}

table{
  padding-left: 60px;
  margin-bottom: 25px;
}

.references{
  padding-left: 25px;
}

.sub-text{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding-left: 25px;
  font-size: 120%;
}
