body {
  /*background-color: #0f5e9c;*/
  background-color: #3fb6d8;
}

#nav-bar {
  float: none;
  padding-right: none;
  text-align: right;
}

.header-container{
  padding-left: 5%;
}

#header {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  color: white;
  font-size: 700%;
  font-family: "Dancing Script";

}

.left-container {
  width: 330px;
  height: 500px;
  float: left;
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 3%;
}

#picture {
  background: url(aboutmepicture.png);
  height: 100%;
  width: 100%;
}

.right-container {
  width: 30%;
  height: 400px;
  float: right;
  margin-right: 20%;
  margin-top: 15%;
}

#desc {
  color: white;
  font-family: "Open Sans Condensed";
}

@media screen and (max-width: 1200px) {
  #header {
    font-size: 400%;
  }

  .left-container {
    margin-left: 35%;
  }
  .right-container {
    width: 70%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 500px) {
  #header {
    font-size: 400%;
  }

  .left-container {
    margin-left: 8%;
  }
  .right-container {
    width: 70%;
    margin-right: 13%;
  }
}
