a {
  color: white;
  text-decoration: none;
}


.active {
  color: #7fffd4;
}

.hover:hover {
  color: #7fffd4;
}

#nav-bar {
  color: white;
  font-family: "Open Sans Condensed";
  float: right;
  font-size: 120%;
  padding-right: 1%;
}
