body {
  height: 100%;
  margin: 0px, 0px;
  background-color: #fb4141;
}
.master-container {
  height: 700px;
}

#title {
  color: white;
  font-size: 900%;
  font-family: "Dancing Script";
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#title-container {
  padding-left: 21%;
  padding-top: 14%;
  margin: 0px 0px;
}

a {
  color: white;
  text-decoration: none;
}

#navigation {
  color: white;
  font-family: "Open Sans Condensed";
  font-size: 280%;
  padding-left: 30%;
}

.active {
  text-decoration: none;
  color: #645d5d;
}

@media screen and (max-width: 890px) {
  #title {
    font-size: 700%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 15%;
  }

  #navigation {
    padding-left: 20%;
    padding-top: 5%;
    /*font-size: 150%;*/
  }
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 500%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 15%;
  }

  #navigation {
    padding-left: 25%;
    padding-top: 5%;
    font-size: 150%;
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 500%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 23%;
  }

  #navigation {
    padding-left: 15%;
    padding-top: 5%;
    font-size: 150%;
  }
}
