body {
  background-color: #ffc100;
}

#title {
  font-size: 500%;
}

#title-container {
  padding-left: 35%;
  padding-top: 14%;
  margin: 0px 0px;
}

#description-container {
  padding-left: 40%;
  padding-right: 25%;
  margin: 0px 0px;
}

#description {
  color: white;
}

.image {
  height: 50px;
  width: 50px;
  padding-right: 3%;
}

#images {
  margin-left: 5%;
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 300%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 18%;
  }

  #description-container {
    padding-left: 16%;
    padding-right: 10%;
  }

  #images {
    margin-left: 13%;
  }
}
