body {
  height: 100%;
  margin: 0px, 0px;
  background-color: #1f2838;
}

#title {
  color: white;
  font-size: 900%;
  font-family: "Dancing Script";
  text-align: left;
  width: 200%;
}

a {
  color: white;
  text-decoration: none;
}

.navigation {
  color: white;
  font-family: "Open Sans Condensed";
  font-size: 280%;
}

.active {
  text-decoration: none;
  color: #645d5d;
}

.main-page{
  margin-top: 250px;
  margin-left: 250px;
}

#first-nav{
  padding-left: 110px;
}

@media screen and (max-width: 890px) {
  #title {
    font-size: 700%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 15%;
  }

  #navigation {
    padding-left: 20%;
    padding-top: 5%;
    /*font-size: 150%;*/
  }
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 500%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 15%;
  }

  #navigation {
    padding-left: 25%;
    padding-top: 5%;
    font-size: 150%;
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: 500%;
  }

  #title-container {
    padding-top: 25%;
    padding-left: 23%;
  }

  #navigation {
    padding-left: 15%;
    padding-top: 5%;
    font-size: 150%;
  }
}
